:root{
    --bg-color: hsla(240, 54%, 11%, 1);
    --bg-2: hsl(210, 17%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --btn-color1: hsl(220, 80%, 56%);
    --gray: hsla(0, 0%, 95%, 0.2);
    --text-color-gray: hsl(0, 0%, 51%);
    --bg-hover: hsl(240, 27%, 20%);
    --gray2: hsl(0, 0%, 88%);
    --card-color: hsl(261, 88%, 23%);


}