@mixin btn {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 32px;
  background-color: var(--btn-color1);
  color: var(--white);
  font-size: 1.05rem;
  font-weight: 500;
  font-family: var(--ff2);
}
