*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
button {
  display: inline-block;
}
img,
picture {
  max-width: 100%;
  display: block;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
i {
  display: block;
  font-size: 1.5rem;
}
i:hover {
  color: var(--icon-color);
  transition: 2s ease in;
}
.landing-page a {
  color: var(--white);
  padding-left: 2rem;
}
::placeholder {
  font-family: var(--ff2);
  font-size: 1rem;
}
p{
  line-height: 1.8;
  font-family: var(--ff2);
}
