@forward "reset";
@use "mixins" as u;
@forward "typography";
@forward "colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
main {
  width: min(100%, 1600px);
  margin-inline: auto;

  .landing-page,
  .why-section,
  .portfolio-section {
    margin-top: -2px;
    padding: 2rem 5rem;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--white);

    @media (max-width: 1000px) {
      padding: 2rem 1.5rem;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1000px) {
          position: fixed;
          background-color: var(--bg-hover);
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 1s;
          left: 100%;
          flex-direction: column;
          align-items: center;
        }
        .close-icon {
          color: var(--white);
          display: none;
          @media (max-width: 1000px) {
            display: block;
            position: absolute;
            top: 20px;
            right: 30px;
          }
        }

        .header-links {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 1000px) {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 250px;
          }
          .header-btn-link {
            margin-left: -1rem;

            .header-btn {
              background-color: var(--btn-color1);
              color: var(--white);
              padding: 8px 20px;
              border-radius: 25px;
              border: none;
              font-size: 1rem;
            }
          }
          .divider {
            color: var(--gray);
            padding-left: 1rem;
          }
        }
      }

      .fa-bars {
        color: var(--white);
        @media (min-width: 1000px) {
          display: none;
        }
      }
    }
    .landing-page-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3rem;
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .landing-page-text {
        width: 55%;
        @media (max-width: 1000px) {
          width: 100%;
          margin-inline: auto;
        }
        .tag-cont {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: hsl(215, 14%, 34%);
          padding: 0.3rem;
          border-radius: 25px;
          width: 330px;
          @media (max-width: 370px) {
            width: 240px;
          }

          .tag-small {
            color: hsl(226, 17%, 67%);
            background-color: var(--white);
            padding: 0.3rem 1rem;
            border-radius: 25px;
            font-size: 0.85rem;
            text-align: center;
            @media (max-width: 370px) {
              font-size: 0.6rem;
              padding: 0.3rem 0.5rem;
            }
          }
          .tag-big {
            margin: 0 1rem 0 0rem;
            font-size: 0.85rem;
            @media (max-width: 370px) {
              font-size: 0.75rem;
              margin-left: 1rem;
            }
          }
        }
        h1 {
          font-weight: 700;
          font-size: 2.5rem;
          margin-top: 1.5rem;
          width: 74%;
          @media (max-width: 1000px) {
            font-size: 2rem;
            margin-top: 2rem;
            width: 100%;
          }
        }
        .copy1 {
          padding-top: 1.5rem;
          width: 70%;
          @media (max-width: 1000px) {
            width: 100%;
          }
        }
        .landing-page-btn {
          display: flex;
          align-items: center;
          margin-top: 1.5rem;

          @include u.btn;
          span {
            padding-left: 0.5rem;
          }
        }
      }
      .landing-page-img {
        width: 40%;
        @media (max-width: 1000px) {
          margin-top: 1.5rem;
          width: 85%;
          margin-inline: auto;
        }
      }
    }
    .testimonial {
      display: flex;
      justify-content: space-between;
      margin-top: 6rem;
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        margin-inline: auto;
        .test-2 {
          @media (max-width: 1000px) {
            margin-left: -2rem;
          }
        }
        .test-3 {
          @media (max-width: 1000px) {
            margin-left: -4rem;
          }
        }
      }
      .test {
        display: flex;
        align-items: center;
        @media (max-width: 1000px) {
          margin-top: 3rem;
        }
        .test-1-img,
        .test-2-img,
        .test-3-img {
          width: 60px;
        }
        .test-text {
          margin-left: 1.5rem;
          h2 {
            font-size: 2.5rem;
            @media (max-width: 1000px) {
              font-size: 1.7rem;
            }
          }
          p {
            padding-top: 0.3rem;
          }
        }
      }
    }
    .why-section-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1000px) {
        flex-direction: column;
      }

      .why-section-img {
        width: 56%;
        @media (max-width: 1000px) {
          width: 85%;
        }
      }
      .why-section-copy {
        width: 40%;
        @media (max-width: 1000px) {
          width: 100%;
        }
        h1 {
          font-weight: 700;
          font-size: 2.5rem;
          @media (max-width: 1000px) {
            margin-top: 3rem;
            font-size: 1.8rem;
          }
        }
        p {
          padding-top: 1.5rem;
        }
        button {
          margin-top: 1.5rem;
          @include u.btn;
        }
      }
    }
    .copy2 {
      margin-top: 6rem;
      text-align: center;
      padding-bottom: 7rem;
      @media (max-width: 1000px) {
        padding-bottom: 10rem;
      }
      h2 {
        font-size: 1.5rem;
        @media (max-width: 1000px) {
          font-size: 1.45rem;
        }
      }
      p {
        padding-top: 1rem;
      }
    }
    .crypto-box {
      position: absolute;
      padding: 2.5rem;
      border-radius: 30px;
      filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
      margin-top: -4rem;
      left: 20%;
      background-color: var(--white);
      width: 60%;
      @media (max-width: 1000px) {
        left: 10%;
        width: 80%;
        margin-top: -7rem;
      }
      .hash-rate-value {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1000px) {
          flex-direction: column;
        }
        .hash-rate {
          width: 40%;
          @media (max-width: 1000px) {
            width: 100%;
          }
          input[type="text"] {
            border: none;
            outline: none;
            height: 38px;
            width: 100%;
          }
          ::placeholder {
            font-size: 1.2rem;
          }

          .hash-rate-line {
            margin-top: 0.6rem;
            border-top: 1px solid var(--gray2);
          }
        }
        .custom-select {
          @media (max-width: 1000px) {
            margin-top: 1rem;
            width: 100%;
          }
          width: 30%;
          position: relative;
          .select {
            height: 38px;
            border: none;
            outline: none;
            font-size: 1.25rem;
            width: 100%;
            font-family: var(--font-family);
          }
          .hash-line {
            margin-top: 0.6rem;
            border-top: 1px solid var(--gray2);
          }
        }
        .hash {
          @include u.btn;
          @media (max-width: 1000px) {
            margin-top: 2rem;
            width: 50%;
          }
          a {
            color: var(--white);
          }
        }
      }
      .hash-rate-copy {
        color: var(--black);
        margin-top: 5rem;
        h5 {
          color: var(--btn-color1);
          font-size: 1.2rem;
          font-family: var(--ff2);
          @media (max-width: 1000px) {
            font-size: 1rem;
          }
        }
        h3 {
          padding-top: 1.5rem;
          font-size: 1.9rem;
          font-weight: 800;
          @media (max-width: 1000px) {
            font-size: 1.4rem;
          }
          span {
            color: var(--btn-color1);
          }
        }
        p {
          padding-top: 1.5rem;
          color: var(--text-color-gray);
        }
      }
    }
  }
  .cryptocurrencies-section {
    padding: 2rem 5rem;
    background-color: hsl(252, 22%, 95%);
    color: var(--bg-color);
    @media (max-width: 1000px) {
      padding: 2rem 1rem;
    }
    h3 {
      text-align: center;
      font-size: 2rem;
      margin-top: 20rem;
      @media (max-width: 1000px) {
        font-size: 1.5rem;
        margin-top: 22rem;
      }
    }
    .crypto-cards-cont {
      display: flex;
      margin-top: 5rem;
      justify-content: space-between;
      margin-inline: auto;
      @media (max-width: 1000px) {
        flex-direction: column;
      }

      .cards {
        width: 32%;
        border-radius: 30px;
        background-color: var(--card-color);
        @media (max-width: 1000px) {
          width: 100%;
          margin-top: 2rem;
        }
      }
      .crypto-card1 {
        margin-top: 0;
      }
      .crypto-card {
        padding: 3rem;
        color: var(--black);
        background-color: var(--white);
        .logo {
          width: 30%;
          margin-top: 3rem;
          margin-inline: auto;
        }
        h2 {
          text-align: center;
          margin-inline: auto;
          margin-top: 3rem;
          sup {
            color: var(--gray2);
            font-size: 1rem;
          }
        }
        p {
          text-align: center;
          margin-top: 2rem;
          margin-inline: auto;
        }
        .landing-page-btn {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;
          align-items: center;
          @include u.btn;
          margin-inline: auto;
          .arrow {
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .p-heading {
    text-align: center;
    width: 50%;
    font-size: 2rem;
    font-family: var(--ff2);
    margin-inline: auto;
    margin-top: 2rem;
  }
  .invest-cont-wrapper,
  .stats-cont-wrapper,
  .profit-cont-wrapper {
    margin-top: 3rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .invest-cont,
  .profit-cont,
  .stats-cont {
    margin-top: 2rem;
    width: 40%;
    h3 {
      font-size: 1.7rem;
    }
    p {
      width: 80%;
      margin-top: 1.5rem;
    }
    button {
      margin-top: 1rem;
      @include u.btn;
    }
  }
  .invest-img,
  .stats-img {
    margin-top: 2rem;
    width: 45%;
  }
  .table-img {
    width: 55%;
  }
  .mining-cont {
    padding: 1rem;
    width: 95%;
    margin-inline: auto;
    margin-top: 10rem;
    background: url(/images/Start\ mining\ now.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
  }
}
